.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 320px;
  background: #2a2a2a;
  padding: 24px;
  border-radius: 8px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #4338ca;
}
.divider {
  margin: 16px 0;
  text-align: center;
  color: #999;
  font-size: 14px;
}

.omniport-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 12px;
  background-color: #111;
  color: white;
  border: 1px solid #333;
  border-radius: 8px;

  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.omniport-btn:hover {
  background-color: #1a1a1a;
  transform: translateY(-1px);
}

.omniport-btn:active {
  transform: translateY(0);
}

.omniport-logo {
  width: 22px;
  height: 22px;
  object-fit: contain;
}
